#
# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
- op: add
  path: /spec/template/spec/volumes/0
  value:
    name: boot-artifacts
    emptyDir: {}
- op: add
  path: /spec/template/spec/containers/0/volumeMounts/0
  value:
    name: boot-artifacts
    mountPath: /forge-boot-artifacts/blobs/internal

- op: add
  path: /spec/template/spec/containers/0
  value:
    name: boot-artifacts-x86-64
    image: yourdockerregistry.com/path/to/boot-artifacts-x86_64:latest
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "cp -r /x86_64 /forge-boot-artifacts/blobs/internal; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal
- op: add
  path: /spec/template/spec/containers/0
  value:
    name: boot-artifacts-aarch64
    image: yourdockerregistry.com/path/to/boot-artifacts-aarch64:latest
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "cp -r /aarch64 /forge-boot-artifacts/blobs/internal; cp -r /apt /forge-boot-artifacts/blobs/internal; cp -r /firmware /forge-boot-artifacts/blobs/internal; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal

# We keep this image around to still provide access to the previous
# qcow-imager.efi/root binaries for backward compatibility, this should be
# removed once we've confifmed nobody uses it
- op: add
  path: /spec/template/spec/containers/0
  value:
    name: legacy-boot-artifacts-x86-64
    image: yourdockerregistry.com/path/to/boot-artifacts-x86_64:v2023.11-rc1-16-gf7aebdcc
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "mkdir -vp /forge-boot-artifacts/blobs/internal/x86_64 && cp -fr /x86_64/qcow-imaging* /forge-boot-artifacts/blobs/internal/x86_64; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal
- op: add
  path: /spec/template/spec/containers/0
  value:
    name: machine-validation-artifacts-config
    image: yourdockerregistry.com/path/to/nvmetal-scout-burn-in:1.3.0
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "cp -r /machine-validation /forge-boot-artifacts/blobs/internal; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal
