#
# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Use file_storage extension to help otelcol remember where it left off in log
# files, in case otelcol restarts while ssh-console is still running
extensions:
  file_storage:
    directory: /var/lib/otelcol/filelog-checkpoints

receivers:
  filelog:
    include:
      - /var/log/consoles/*.log
      - /var/log/consoles/*.log.*
    start_at: beginning
    storage: file_storage
    operators:
      - type: regex_parser
        id: parser-machineid
        regex: '^(?P<machineid>[a-z0-9]+)_(?P<bmc_ip>[^_]+).log$'
        parse_from: attributes["log.file.name"]

processors:
  attributes:
    actions:
      - key: exporter
        value: forge-ssh-console-rs
        action: upsert
      - key: loki.attribute.labels
        value: machineid,exporter
        action: insert
      - key: loki.format
        value: raw
        action: insert
  batch:
  memory_limiter:
    check_interval: 5s
    limit_mib: 4096
    spike_limit_mib: 1024

service:
  extensions: [file_storage]
  pipelines:
    logs:
      receivers: [filelog]
      processors: [attributes, batch]
      exporters: [loki]
